* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}

button {
    border: none;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: dodgerblue;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

button.error {
    background-color: red;
}

button.error:hover {
    background-color: darkred;
}

button:hover {
    background-color: #167fe8;
    transform: scale(1.1);
}

h3 {
    margin-top: 0px;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee;
}

/* popup */
.error-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.error-popup>dialog {
    max-width: 350px;
}

.popup-buttons {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-weight: 600;
}

/* form */
form label {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
}

form input[type="submit"] {
    margin-top: 0.5rem;
    cursor: pointer;
}

.form-error {
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    padding: 2px;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#contacts {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.contact {
    margin: 0px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}